<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trungpt.downloadmaster" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.GGApp.Main" >
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- google -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.activity.VimeoDetailActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:label="@string/title_activity_video_detail"
            android:launchMode="singleInstance"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="asset" />
                <data android:scheme="file" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.YoutubeVideoDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_video_detail"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".ui.activity.DailymotionDetailActivity"
            android:label="@string/title_activity_dailymotion_detail" >
        </activity>
        <activity
            android:name=".ui.activity.VimeoSearchActivity"
            android:label="@string/title_activity_vimeo_search" >
        </activity>
        <activity
            android:name=".ui.activity.ListVideoActivity"
            android:label="@string/title_activity_list_video"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".ui.activity.DailimotionSearchActivity"
            android:label="@string/title_activity_dailimotion_search" >
        </activity>
        <activity
            android:name=".ui.activity.ListVideoDailymotionActivity"
            android:label="@string/title_activity_list_video_dailymotion" >
        </activity>
        <activity
            android:name=".ui.activity.YoutubeSearchActivity"
            android:label="@string/title_activity_youtube_search" >
        </activity>
    </application>

</manifest>
